html {
  scroll-behavior: smooth;
}

:root {
  --primaryTextColor: #232E35;
  --secondaryTextColor: #656D72;

  --borderColor: #F1F1F1;
  --lineColor: #D9D9D9;

  --primaryBgColor: #FFFFFF;
  --secondaryBgColor: #FBFBFB;
  --thirdBgColor: #F5F3FE;

  --primaryIconColor: #7E74F1;
  --primaryIconColorHover: #5D51E8;

  --sectionPadding: 6rem 0;
  --itemBorderRadius: 0.7rem;
}

* {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

nav {
  background-color: var(--primaryBgColor);
  color: var(--primaryTextColor);
  padding: 10px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navItem-left {
  display: flex;
  align-items: center;
}

.navItem-left a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primaryTextColor);
  font-size: 0.8rem;
}

.navItem-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navItem-right a {
  color: var(--primaryTextColor);
  font-size: 1.2rem;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLogo img {
  width: 100px;
  cursor: pointer;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.nav-bar h3 {
  position: relative;
  color: var(--primaryTextColor);
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 500;
}

.nav-bar h3:after {
  content: "";
  position: absolute;
  background-color: #720006;
  width: 0;
  height: 3px;
  left: 0;
  bottom: -7px;
  transition: all .3s ease-in-out;
}

.navBottom h3:hover:after {
  width: 100%;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-right a {
  display: flex;
  align-items: center;
  text-decoration: none;
  /* text-transform: uppercase; */
  color: var(--primaryTextColor);
  font-weight: 500;
}

.nav-right .sign-up {
  padding: 0.3rem 0.6rem;
  color: var(--primaryTextColor);
  background-color: var(--primaryBgColor);
  border: 2px solid var(--borderColor);
  transition: all .1s ease-in-out;
}

.nav-right .sign-up:hover {
  color: var(--primaryBgColor);
  background-color: var(--primaryTextColor);
  box-shadow: rgba(0, 0, 0, 0.5) 0 3px 5px;
  border: 2px solid var(--primaryTextColor);
}

.nav-right .sign-in {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.slider {
  background: rgba(0, 0, 0, 0.3)url("/img/background.jpg");;
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderImg {
  z-index: 1;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: white;
  z-index: 1;
}

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  color: white;
  border: 1px solid gray;
  z-index: 1;
}

.buyButton {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  color: white;
  border: 1.5px solid black;
  background-color: black;
  z-index: 1;
  cursor: pointer;
}

.buyButton:hover {
  background-color: white;
  color: black;
  border: 1.5px solid white;
}

.sliderItem:nth-child(1) .sliderBg {
  background-color: black;
}
.sliderItem:nth-child(2) .sliderBg {
  background-color: rebeccapurple;
}
.sliderItem:nth-child(3) .sliderBg {
  background-color: teal;
}
.sliderItem:nth-child(4) .sliderBg {
  background-color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderBg {
  background-color: rgb(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice {
  color: #369e62;
}
.sliderItem:nth-child(2) .sliderPrice {
  color: white;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: teal;
}
.sliderItem:nth-child(4) .sliderPrice {
  color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: cornsilk;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 50px;
  height: 50px;
  filter: saturate(0%) brightness(0%);
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
}

.product {
  height: 720px;
  background-color: whitesmoke;
  position: relative;
  /* clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); */
}

.payment {
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.payTitle {
  font-size: 20px;
  color: lightgray;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.payInput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.payInput::placeholder {
  color: rgb(163, 163, 163);
}

.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

.payButton {
  position: absolute;
  height: 40px;
  bottom: -40;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: #369e62;
  color: white;
  border: none;
  cursor: pointer;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: gray;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}

.productImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.productTitle {
  font-size: 75px;
  font-weight: 900;
}

.productDesc {
  font-style: 24px;
  color: gray;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 32px;
  height: 32px;
  border: 1.5px solid black;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.color:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px;
}

.color:last-child {
  background-color: white;
}

.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.productButton {
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.productButton:hover {
  background-color: white;
  color: black;
}

.gallery {
  padding: 50px;
  display: flex;
}

.galleryItem {
  flex: 1;
  padding: 50px;
}

.galleryImg {
  width: 100%;
}

.newSeason {
  display: flex;
}

.nsItem {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nsImg {
  width: 500px;
  height: 500px;
}

.nsTitleSm {
  font-size: 2rem;
}

.nsTitle {
  font-size: 2rem;
}

.nsButton {
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}

footer {
  display: flex;
}

.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.fMenuTitle {
  font-size: 16px;
}

.fList {
  padding: 0;
  list-style: none;
}

.fListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fInput {
  padding: 5px;
}

.fButton {
  padding: 5px;
  background-color: black;
  color: white;
}

.fIcons{
  display: flex;
}

.fIcon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.copyright{
  font-weight: 300;
  font-size: 14px;
}

@media screen and (max-width:480px) {
  nav{
    padding: 20px;
  }

  .search{
    display: none;
  }

  .navTop {
    margin-bottom: 0.5rem;
  }

  .navBottom{
    flex-wrap: wrap;
    gap: 1.2rem;
  }

  .navItem-left a i {
    font-size: 0.6rem;
  }

  .navItem-left a span {
    font-size: 0.7rem;
  }

  .navItem-right a {
    font-size: 0.7rem;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    flex-wrap: wrap;
  }

  .nav-bar h3 {
    font-size: 0.8rem;
    margin-bottom: -10px;
  }

  .nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .menuItem{
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }

  .slider{
    clip-path: none;
  }

  .sliderImg{
    width: 90%;
  }

  .sliderBg{
    width: 100%;
    height: 100%;
  }

  .sliderTitle{
    display: none;
  }

  .sliderPrice{
    top: unset;
    bottom: -50;
    left: 0;
    background-color: lightgrey;
  }

  .buyButton{
    right: 0;
    top: 0;
  }

  .features{
    flex-direction: column;
  }

  .product{
    clip-path: none ;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productImg{
    width: 80%;
  }

  .productDetails{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }

  .productTitle{
    font-size: 50px;
    margin: 0;
  }

  .gallery{
    display: none;
  }

  .newSeason{
    flex-direction: column;
  }

  .nsItem:nth-child(2){
    padding: 50px;
  }

  footer{
    flex-direction: column;
    align-items: center;
  }

  .footerLeft{
    padding: 20px;
    width: 90%;
  }

  .footerRight{
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: whitesmoke;
  }

  .payment{
    width: 90%;
    padding: 20px;
  }
}